<div class='container'>

	<h1 style="text-align:center">Dashboard</h1>

	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<table class="table table-bordered">
				<thead>
					<th>
						<h1>Modules/Sensors</h1>
					</th>
				</thead>
				<tbody>
					<tr>
						<td style="text-align:center"><h2>Modules<h2></td>
					<tr>
					<tr>
						<td style="text-align:center">Modules 1</td>
					
					<tr>
					<tr>
						<td style="text-align:center">Modules 2</td>
					
					<tr>
					<tr>
						<td style="text-align:center">Modules 3</td>
					
					<tr>
					<tr>
						<td style="text-align:center">Modules 4</td>
					
					<tr>
					
					<tr>
						<td style="text-align:center"><h2>Sensors</h2></td>
					<tr>
					<tr>
						<td style="text-align:center">Sensor 1</td>
					
					<tr>
					<tr>
						<td style="text-align:center">Sensor 2</td>
					
					<tr>
					<tr>
						<td style="text-align:center">Sensor 3</td>
					
					<tr>
					<tr>
						<td style="text-align:center">Sensor 4</td>
					
					<tr>
					
				</tbody>

			</table>			
		


		</div>


	
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-sm-push-1 col-md-push-1">
			

			<table class="table table-bordered">

				<tbody>
					<tr>
						<td>Room1</td>
						<td>Room2</td>
						<td>Room3</td>
						<td>Room4</td>

					</tr>

					<tr>
						<td style="text-align:center" colspan="4">Room 1</td>
					</tr>
			
					
				</tbody>

			</table>

			<div class="putting_area_1">

				

			</div>


			<div class="putting_area_2">

			

			</div>


			<div class="putting_area_3">


			</div>

		</div>		
	</div>

</div>